### Install Requirements

In [21]:
! pip install pyspark

Requirement already satisfied: pyspark in ./venv/lib/python3.10/site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in ./venv/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

### Setup Spark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

23/06/01 13:01:43 WARN Utils: Your hostname, Macintosh-9.local resolves to a loopback address: 127.0.0.1; using 192.168.15.22 instead (on interface en0)
23/06/01 13:01:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/01 13:01:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/01 13:01:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
spark.version

'3.4.0'

### Getting Data

> Get data from CSV Datasets . **Datasets from [Kaggle](https://www.kaggle.com/)**

In [3]:
chicago_house_price = spark.read.csv('./datasets/chicago-house-price.csv', header=True, inferSchema=True)

### Take a look at data

In [4]:
chicago_house_price.show(10)

+-----+-------+-----+----+---+----+--------+------+---------+
|Price|Bedroom|Space|Room|Lot| Tax|Bathroom|Garage|Condition|
+-----+-------+-----+----+---+----+--------+------+---------+
|   53|      2|  967|   5| 39| 652|     1.5|     0|        0|
|   55|      2|  815|   5| 33|1000|       1|     2|        1|
|   56|      3|  900|   5| 35| 897|     1.5|     1|        0|
|   58|      3| 1007|   6| 24| 964|     1.5|     2|        0|
|   64|      3| 1100|   7| 50|1099|     1.5|   1.5|        0|
|   44|      4|  897|   7| 25| 960|       2|     1|        0|
|   49|      5| 1400|   8| NA| 678|       1|     1|        1|
|   70|      3| 2261|   6| 29|2700|       1|     2|        0|
|   72|      4| 1290|   8| NA| 800|     1.5|   1.5|        0|
|   82|      4| 2104|   9| 40|1038|     2.5|     1|        1|
+-----+-------+-----+----+---+----+--------+------+---------+
only showing top 10 rows

We can see that type is not right . All of these columns should be int or float not string.

In [5]:
chicago_house_price.printSchema()

root
 |-- Price: string (nullable = true)
 |-- Bedroom: string (nullable = true)
 |-- Space: string (nullable = true)
 |-- Room: string (nullable = true)
 |-- Lot: string (nullable = true)
 |-- Tax: string (nullable = true)
 |-- Bathroom: string (nullable = true)
 |-- Garage: string (nullable = true)
 |-- Condition: string (nullable = true)

### Get more data

> Get data from CSV Datasets . **Datasets from [Kaggle]**

[Kaggle]: https://www.kaggle.com/

In [6]:
califonia_house_price = spark.read.csv("./datasets/califonia-house-price.csv", header=True, inferSchema=True)
india_house_price = spark.read.csv("./datasets/india-house-price.csv", header=True, inferSchema=True)
pakistan_house_price = spark.read.csv("./datasets/pakistan-house-price.csv", header=True, inferSchema=True)

### Data Profiling

> Take a look , how our data looks like !

In [7]:
chicago_house_price.printSchema()

root
 |-- Price: string (nullable = true)
 |-- Bedroom: string (nullable = true)
 |-- Space: string (nullable = true)
 |-- Room: string (nullable = true)
 |-- Lot: string (nullable = true)
 |-- Tax: string (nullable = true)
 |-- Bathroom: string (nullable = true)
 |-- Garage: string (nullable = true)
 |-- Condition: string (nullable = true)

In [8]:
califonia_house_price.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: integer (nullable = true)
 |-- total_rooms: integer (nullable = true)
 |-- total_bedrooms: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- households: integer (nullable = true)
 |-- median_income: double (nullable = true)
 |-- ocean_proximity: string (nullable = true)
 |-- median_house_value: integer (nullable = true)

In [9]:
india_house_price.printSchema()

root
 |-- id: long (nullable = true)
 |-- Date: integer (nullable = true)
 |-- number of bedrooms: integer (nullable = true)
 |-- number of bathrooms: double (nullable = true)
 |-- living area: integer (nullable = true)
 |-- lot area: integer (nullable = true)
 |-- number of floors: double (nullable = true)
 |-- waterfront present: integer (nullable = true)
 |-- number of views: integer (nullable = true)
 |-- condition of the house: integer (nullable = true)
 |-- grade of the house: integer (nullable = true)
 |-- Area of the house(excluding basement): integer (nullable = true)
 |-- Area of the basement: integer (nullable = true)
 |-- Built Year: integer (nullable = true)
 |-- Renovation Year: integer (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- living_area_renov: integer (nullable = true)
 |-- lot_area_renov: integer (nullable = true)
 |-- Number of schools nearby: integer (nullable = true)
 |-- Distance from the airport: integer (nullable = true)
 |-- Price: integer (nullable = true)

In [10]:
pakistan_house_price.printSchema()

root
 |-- property_id: integer (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- page_url: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- city: string (nullable = true)
 |-- province_name: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- baths: integer (nullable = true)
 |-- area: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- date_added: string (nullable = true)
 |-- agency: string (nullable = true)
 |-- agent: string (nullable = true)
 |-- Area Type: string (nullable = true)
 |-- Area Size: double (nullable = true)
 |-- Area Category: string (nullable = true)

> At this point you can see that each datasets have different columns name , type and format . 

So we have to select which columns do we need and which format that we gonna stick with . 

I decided to use price and bedrooms columns

---

##### Before that . We have to check null value first .

In [11]:
chicago_house_price.summary(['count']).show()

+-------+-----+-------+-----+----+---+---+--------+------+---------+
|summary|Price|Bedroom|Space|Room|Lot|Tax|Bathroom|Garage|Condition|
+-------+-----+-------+-----+----+---+---+--------+------+---------+
|  count|  157|    157|  157| 157|157|157|     157|   157|      157|
+-------+-----+-------+-----+----+---+---+--------+------+---------+

In [12]:
pakistan_house_price.summary(['count']).show()

+-------+-----------+-----------+--------+-------------+------+--------+------+-------------+--------+---------+------+------+-------+--------+----------+------+------+---------+---------+-------------+
|summary|property_id|location_id|page_url|property_type| price|location|  city|province_name|latitude|longitude| baths|  area|purpose|bedrooms|date_added|agency| agent|Area Type|Area Size|Area Category|
+-------+-----------+-----------+--------+-------------+------+--------+------+-------------+--------+---------+------+------+-------+--------+----------+------+------+---------+---------+-------------+
|  count|     168446|     168446|  168446|       168446|168446|  168446|168446|       168446|  168446|   168446|168446|168446| 168446|  168446|    168446|124375|124374|   168446|   168446|       168446|
+-------+-----------+-----------+--------+-------------+------+--------+------+-------------+--------+---------+------+------+-------+--------+----------+------+------+---------+---------+-------------+

In [13]:
india_house_price.summary(['count']).show()

+-------+-----+-----+------------------+-------------------+-----------+--------+----------------+------------------+---------------+----------------------+------------------+-------------------------------------+--------------------+----------+---------------+-----------+---------+---------+-----------------+--------------+------------------------+-------------------------+-----+
|summary|   id| Date|number of bedrooms|number of bathrooms|living area|lot area|number of floors|waterfront present|number of views|condition of the house|grade of the house|Area of the house(excluding basement)|Area of the basement|Built Year|Renovation Year|Postal Code|Lattitude|Longitude|living_area_renov|lot_area_renov|Number of schools nearby|Distance from the airport|Price|
+-------+-----+-----+------------------+-------------------+-----------+--------+----------------+------------------+---------------+----------------------+------------------+-------------------------------------+--------------------+----------+---------------+-----------+---------+---------+-----------------+--------------+------------------------+-------------------------+-----+
|  count|14620|14620|             14620|              14620|      14620|   14620|           14620|             14620|          14620|                 14620|             14620|                                14620|               14620|     14620|          14620|      14620|    14620|    14620|            14620|         14620|                   14620|                    14620|14620|
+-------+-----+-----+------------------+-------------------+-----------+--------+----------------+------------------+---------------+----------------------+------------------+-------------------------------------+--------------------+----------+---------------+-----------+---------+---------+-----------------+--------------+------------------------+-------------------------+-----+

We notice that total_rooms of Califonia House Price Datasets has null ! We must handle it .

You can remove it or replace it with some data ( If you have data admin team you should ask them for it .)

In [14]:
califonia_house_price.summary(['count']).show()

+-------+---------+--------+------------------+-----------+--------------+----------+----------+-------------+---------------+------------------+
|summary|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|ocean_proximity|median_house_value|
+-------+---------+--------+------------------+-----------+--------------+----------+----------+-------------+---------------+------------------+
|  count|    20640|   20640|             20640|      20640|         20433|     20640|     20640|        20640|          20640|             20640|
+-------+---------+--------+------------------+-----------+--------------+----------+----------+-------------+---------------+------------------+

In [15]:
califonia_house_price.where(califonia_house_price['total_bedrooms'].isNull()).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+---------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|ocean_proximity|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+---------------+------------------+
|  -122.16|   37.77|                47|       1256|          null|       570|       218|        4.375|       NEAR BAY|            161900|
|  -122.17|   37.75|                38|        992|          null|       732|       259|       1.6196|       NEAR BAY|             85100|
|  -122.28|   37.78|                29|       5154|          null|      3741|      1273|       2.5762|       NEAR BAY|            173400|
|  -122.24|   37.75|                45|        891|          null|       384|       146|       4.9489|       NEAR BAY|            247100|
|   -122.1|   37.69|                41|        746|          null|       387|       161|       3.9063|       NEAR BAY|            178400|
|  -122.14|   37.67|                37|       3342|          null|      1635|       557|       4.7933|       NEAR BAY|            186900|
|  -121.77|   39.66|                20|       3759|          null|      1705|       600|        4.712|         INLAND|            158600|
|  -121.95|   38.03|                 5|       5526|          null|      3207|      1012|       4.0767|         INLAND|            143100|
|  -121.98|   37.96|                22|       2987|          null|      1420|       540|         3.65|         INLAND|            204100|
|  -122.01|   37.94|                23|       3741|          null|      1339|       499|       6.7061|       NEAR BAY|            322300|
|  -122.08|   37.88|                26|       2947|          null|       825|       626|        2.933|       NEAR BAY|             85000|
|  -119.75|   36.71|                38|       1481|          null|      1543|       372|       1.4577|         INLAND|             49800|
|  -119.72|   36.76|                23|       6403|          null|      3573|      1260|       2.3006|         INLAND|             69000|
|  -119.78|   36.82|                25|       5016|          null|      2133|       928|        3.625|         INLAND|             89500|
|  -119.73|   36.83|                 8|       3602|          null|      1959|       580|       5.3478|         INLAND|            138800|
|  -119.69|   36.83|                32|       1098|          null|       726|       224|       1.4913|         INLAND|             54600|
|  -119.68|   36.79|                16|       1551|          null|      1010|       292|       3.5417|         INLAND|             71300|
|  -119.45|   36.61|                24|       1302|          null|       693|       243|       3.7917|         INLAND|             90500|
|  -119.44|   36.58|                37|       1054|          null|       879|       257|       2.5234|         INLAND|             63500|
|  -124.06|   40.86|                34|       4183|          null|      1891|       669|       3.2216|     NEAR OCEAN|             98100|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+---------------+------------------+
only showing top 20 rows

> I decide to remove null row .