### Install Requirements

In [3]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 553.4 kB/s eta 0:00:0000:0100:12
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 639.6 kB/s eta 0:00:00a 0:00:01
Installing collected packages: py4j, pyspark
  DEPRECATION: pyspark is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for pyspark ... done
Successfully installed py4j-0.10.9.7 pyspark-3.4.0

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

### Setup Spark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

23/05/27 22:00:15 WARN Utils: Your hostname, Macintosh-9.local resolves to a loopback address: 127.0.0.1; using 192.168.97.22 instead (on interface en0)
23/05/27 22:00:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/27 22:00:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark.version

'3.4.0'

### Getting Data

In [3]:
dt = spark.read.csv('./datasets/chicago-house-price.csv', header=True, inferSchema=True)
dt

DataFrame[Price: string, Bedroom: string, Space: string, Room: string, Lot: string, Tax: string, Bathroom: string, Garage: string, Condition: string]

### Take a look at data

In [12]:
dt.show(10)

+-----+-------+-----+----+---+----+--------+------+---------+
|Price|Bedroom|Space|Room|Lot| Tax|Bathroom|Garage|Condition|
+-----+-------+-----+----+---+----+--------+------+---------+
|   53|      2|  967|   5| 39| 652|     1.5|     0|        0|
|   55|      2|  815|   5| 33|1000|       1|     2|        1|
|   56|      3|  900|   5| 35| 897|     1.5|     1|        0|
|   58|      3| 1007|   6| 24| 964|     1.5|     2|        0|
|   64|      3| 1100|   7| 50|1099|     1.5|   1.5|        0|
|   44|      4|  897|   7| 25| 960|       2|     1|        0|
|   49|      5| 1400|   8| NA| 678|       1|     1|        1|
|   70|      3| 2261|   6| 29|2700|       1|     2|        0|
|   72|      4| 1290|   8| NA| 800|     1.5|   1.5|        0|
|   82|      4| 2104|   9| 40|1038|     2.5|     1|        1|
+-----+-------+-----+----+---+----+--------+------+---------+
only showing top 10 rows

We can see that type is not right . All of these columns should be int or float not string.

In [13]:
dt.dtypes

[('Price', 'string'),
 ('Bedroom', 'string'),
 ('Space', 'string'),
 ('Room', 'string'),
 ('Lot', 'string'),
 ('Tax', 'string'),
 ('Bathroom', 'string'),
 ('Garage', 'string'),
 ('Condition', 'string')]

In [15]:
dt.printSchema()

root
 |-- Price: string (nullable = true)
 |-- Bedroom: string (nullable = true)
 |-- Space: string (nullable = true)
 |-- Room: string (nullable = true)
 |-- Lot: string (nullable = true)
 |-- Tax: string (nullable = true)
 |-- Bathroom: string (nullable = true)
 |-- Garage: string (nullable = true)
 |-- Condition: string (nullable = true)

### Get more data

In [5]:
califonia_house_price = spark.read.csv("./datasets/califonia-house-price.csv", header=True, inferSchema=True)
india_house_price = spark.read.csv("./datasets/india-house-price.csv", header=True, inferSchema=True)
pakistan_house_price = spark.read.csv("./datasets/pakistan-house-price.csv", header=True, inferSchema=True)

In [7]:
califonia_house_price.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: integer (nullable = true)
 |-- total_rooms: integer (nullable = true)
 |-- total_bedrooms: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- households: integer (nullable = true)
 |-- median_income: double (nullable = true)
 |-- ocean_proximity: string (nullable = true)
 |-- median_house_value: integer (nullable = true)

In [8]:
india_house_price.printSchema()

root
 |-- id: long (nullable = true)
 |-- Date: integer (nullable = true)
 |-- number of bedrooms: integer (nullable = true)
 |-- number of bathrooms: double (nullable = true)
 |-- living area: integer (nullable = true)
 |-- lot area: integer (nullable = true)
 |-- number of floors: double (nullable = true)
 |-- waterfront present: integer (nullable = true)
 |-- number of views: integer (nullable = true)
 |-- condition of the house: integer (nullable = true)
 |-- grade of the house: integer (nullable = true)
 |-- Area of the house(excluding basement): integer (nullable = true)
 |-- Area of the basement: integer (nullable = true)
 |-- Built Year: integer (nullable = true)
 |-- Renovation Year: integer (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- living_area_renov: integer (nullable = true)
 |-- lot_area_renov: integer (nullable = true)
 |-- Number of schools nearby: integer (nullable = true)
 |-- Distance from the airport: integer (nullable = true)
 |-- Price: integer (nullable = true)

In [9]:
pakistan_house_price.printSchema()

root
 |-- property_id: integer (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- page_url: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- city: string (nullable = true)
 |-- province_name: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- baths: integer (nullable = true)
 |-- area: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- date_added: string (nullable = true)
 |-- agency: string (nullable = true)
 |-- agent: string (nullable = true)
 |-- Area Type: string (nullable = true)
 |-- Area Size: double (nullable = true)
 |-- Area Category: string (nullable = true)

At this point you can see that each datasets have different columns name , type and format . So we have to select which columns do we need and which format that we gonna stick with .
I decided to use price and bedrooms columns